$boardChipWidth: 14vw;

@mixin centralText() {
  display: grid;
  text-align: center;
  align-items: center;
}

.BoardContainer {
  display: flex;
  height: 82.5vh;
  border-top: solid black 5px;
}

.Header {
  display: flex;
  height: 15vh;
}

.OffTitle {
  flex: 1;
}

.OnTitle {
  flex: auto;
  font-size: 60px;
  text-align: center;
  margin: auto;
}

.Board {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.RoundColContainer {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  border-right: solid black 5px;
}

.TeamColContainer {
  flex: 7.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  flex-wrap: wrap;
}

.Round {
  flex: auto;
  margin: 2px;
  @include centralText()
}

.Round-empty {
  height: 2.5em;
}

.Team-row {
  height: 2.5em;
  display: flex;
  flex-direction: row;
}

.Team {
  width: $boardChipWidth;
  font-size: 1.5em;
  margin: 2px;
  @include centralText();
}

.PicksGrid {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Pick-row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

@mixin Pick($backgroundColor: white) {
  border-radius: 10px;
  border: solid black 1px;
  width: $boardChipWidth;
  @include centralText();
  background-color: $backgroundColor;
  margin: 1px;
}

.Pick {
  @include Pick();
}

.Pick-highlighted {
  @include Pick(#c2fffc);
}

.Pick-active {
  @include Pick(rgb(255, 252, 158))
}

.Init-container {
  align-items: center;
  justify-content: center;
  border: solid black 5px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.Init-item {
  margin: 10px;
}

.Init-input {
  height: 10vh;
  width: 25vw;
  @include centralText();
  font-size: 36pt;
  border: solid black 4px;
  border-radius: 15px;
}

.Init-connect {
  height: 5vh;
  width: 12.5vw;
  font-size: 18pt;
}